* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    background-color: #F8FAFD;
    height: 80vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-size: cover;
    background-position: center;
    margin: auto;
    gap: 20px;
}

#container .first-box {
    background-image: url('/src/assets/e5.JPG');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 125px;
    transition: transform 1s;
}

#container .second-box {
    background-image: url('/src/assets/i9.JPG');
    background-size: cover;
    background-position: center;
    transition: transform 1s;
}

#container .third-box {
    background-image: url('/src/assets/b.JPG');
    background-size: cover;
    background-position: center;
    transition: transform 1s;
}

#container .fourth-box {
    background-image: url('/src/assets/g.JPG');
    background-size: cover;
    background-position: center;
    transition: transform 1s;
    border-top-right-radius: 125px;


}

#container .first-box:hover {
    transform: scale(1.1);
}

#container .second-box:hover {
    transform: scale(1.1);

}

#container .third-box:hover {
    transform: scale(1.1);

}

#container .fourth-box:hover {
    transform: scale(1.1);

}